 body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  position: fixed;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #2d3748;
}
.logo img {
  height: 30px;
}
.menu a {
  margin: 0 15px;
  color: #2d3748;
  text-decoration: none;
  position: relative;
}
.menu a i {
  font-size: 15px;
  margin-left: 5px;
  nav a :hover{
    background-color: red;

  }
}
.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  color: #2d3748;
}
.icon-badge {
  position: relative;
}
.icon-badge .badge {
  /* position: absolute; */
  top: -10px;
  right: -10px;
  background-color: #e53e3e;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
}


ody {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffffff;
  color: #0f172a;
}

.promo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 120px;
  background-color: #faf6f2;
}

.promo-content {
  max-width: 600px;
}

.year {
  font-size: 80px;
  font-weight: 900;
  color: #0f172a;
  margin: 0;
}

.summer-text {
  font-family: cursive;
  font-size: 60px;
  color: #c39b6e;
  font-style: italic;
  margin-left: 20px;
}

.headline {
  font-size: 32px;
  font-weight: 700;
  margin-top: 30px;
}

.subheadline {
  font-size: 32px;
  margin-bottom: 30px;
}

.product-info {
  margin-top: 20px;
  
}

.price {
  font-size: 24px;
  color: #c39b6e;
  font-weight: bold;
}

.product-name {
  font-size: 20px;
  font-weight: 600;
}

.buy-now {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #1f2937;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.promo-image img {
  max-width: 450px;
  border-radius: 10px;
}
.circle-div{
       /* content: ''; */
    display: block;
    width: 500px;
    height: 400px;
    background-color: rgb(116 123 112 / 6%);
    border-radius: 100%;
    
}
.discount-badge{
    background-color: #c69c6d;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    width: 100px;
    height: 100px;
    border-radius: 70% 40% 60% 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-top: -319px;
    margin-left: 158px;
    
}


    .discount-badge .off {
      font-size: 0.8em;
      font-weight: normal;
      margin-top: 4px;
    }

  